.subhead {
  display: flex;

  &__item {
    display: flex;
    padding: 3px;

    &--nav {
      list-style: none;
    }

    &.tags {
      overflow: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .tags-wrapper {
    overflow: hidden;
  }

  .margin {
    width: 1px;
    background-color: #d1d1d1;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
