@import '../shared/config.style.scss';

.profile__details {
  margin: 50px auto;
  max-width: 1500px;
  display: flex;
  align-items: center;

  @include md-max {
    flex-direction: column;
    margin: 20px;
    text-align: center;
  }

  &--img {
    flex-basis: 35%;
    .avatar {
      height: 150px;
      float: right;
      margin-right: 50px;
      @include md-max {
        margin: 0 auto 20px auto;
      }
    }
  }

  &--bio {
    flex-basis: 40%;
  }
}
