@import '../../shared/config.style.scss';

.nav-link {
  color: black;
}

.nav-item a {
  text-decoration: none;
}

.nav-wrapper {
  padding: 0.5rem 1rem;

  .navbar-brand {
    padding-top: 0;
  }

  @include sm-max {
    padding: 0.5rem 1rem;
  }

  .logo {
    height: 70px;
    vertical-align: middle;
    width: auto;
  }

  .profile {
    border-left: 1px solid rgba(211, 211, 211, 0.5);

    @include md-max {
      border-left: 0;
    }

    button {
      margin: 0 10px;

      @include sm-max {
        margin: 0;
        width: 30%;
        min-width: 100px;
      }
    }

    .avatar {
      height: 45px;
      width: 45px;
      display: inline-block;
      display: none;
    }
  }
}
