.masonry {
  transition: all 0.5s ease-in-out;
  column-gap: 30px;
  width: 80vw;
  max-width: 2000px;

  & .img-brick {
    display: inline-block; /* Fix the misalignment of items */
    vertical-align: top; /* Keep the item on the very top */
    position: relative;
  }

  & .img-brick img {
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden; /* Remove Image flickering on hover */
    width: calc(80vw);
    max-width: 660px;
  }

  & .img-brick:hover {
    img {
      opacity: 0.75;
    }

    .img__btns {
      display: flex;
    }
  }

  .img__btns {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    top: 3px;

    & .up,
    & .down {
      display: flex;
      justify-content: space-between;
      margin: 3px;
    }

    & .down {
      margin-bottom: 8px;
    }

    &--btn {
      padding: 4px;
      background-color: #eee;
      margin: 2px;
      border-radius: 2px;
      // display: inline-block;

      i {
        color: #666;
        // font-size: 0.9rem;
      }

      &.name {
        background: transparent;
        color: #eee;
        // font-size: 0.8rem;
      }
    }

    a {
      color: #ddd;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      column-count: 2;
    }

    & .img-brick img {
      width: calc(80vw / 2);
    }
  }

  @media only screen and (min-width: 1024px) {
    & {
      column-count: 3;
    }

    & .img-brick img {
      width: calc(80vw / 3);
    }
  }
}
