.masonry {
  transition: all 0.5s ease-in-out;
  column-gap: 30px;
  width: 80vw;
  max-width: 2000px;

  & .img-brick {
    display: inline-block; /* Fix the misalignment of items */
    vertical-align: top; /* Keep the item on the very top */
  }

  & .img-brick img {
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden; /* Remove Image flickering on hover */
    width: calc(80vw);
    max-width: 660px;
  }

  & .img-brick:hover img {
    opacity: 0.75;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      column-count: 2;
    }

    & .img-brick img {
      width: calc(80vw / 2);
    }
  }

  @media only screen and (min-width: 1024px) {
    & {
      column-count: 3;
    }

    & .img-brick img {
      width: calc(80vw / 3);
    }
  }
}
