.banner {
  // background: url(../../assets/images/bg-img.jpg) no-repeat;
  background: url(https://images.unsplash.com/photo-1590385461846-d0c77a612434?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)
    no-repeat center;
  background-size: cover;
  margin: 0px auto;
  color: white;
  padding: 10vw;
  // height: calc(40vw - 10%);
}

.img-wrapper {
  margin-top: 20px;
}
