@import '../../shared/config.style.scss';
.social-btns {
  display: flex;
  margin: 20px;

  @include md-max {
    flex-direction: column;
    margin: 20px 0px;
  }

  .social-btn {
    display: block;
    margin: 10px;
    position: relative;
    flex-basis: 50%;

    &.google-btn {
      background-color: #4c8bf5;
      color: #fff;

      &:hover {
        background-color: red;
        color: white;

        .google-logo {
          background-color: #fff;
        }

        .facebok-logo {
          color: #fff;
        }
      }
    }

    .logo {
      position: absolute;
      top: 0;
      left: 0;
      padding: 7px;
      display: inline-block;
      height: 100%;

      &.google-logo {
        background-color: #fff;
      }
    }

    .logo-text {
      display: inline-block;
      margin-left: 10%;
    }
  }
}
